{% extends "common/base.html" %}
{% block title %}Set new password{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <h1 class="mb-3">Set a new password</h1>
            {% if validlink %}
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="d-flex gap-2">
                        <button class="btn btn-primary" type="submit">Update password</button>
                        <a class="btn btn-outline-secondary" href="{% url 'login' %}">Back to login</a>
                    </div>
                </form>
            {% else %}
                <p class="text-danger mb-3">
                    This password reset link is invalid or has expired.
                </p>
                <a class="btn btn-primary" href="{% url 'password_reset' %}">Request new link</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
